*~
historic/

*.out
*.sqlite
*.swp
JHU_data/
__pycache__

01_download_data/
3g_dxy_cn.*
*.log
*.json
python_scripting.py
.DS_Store
gis
!plots/Confirmed_since_start.png 
!plots/Confirmed_new_since_start.png 
plots/*
urls.dat
*.code-workspace
temp.py
model.csv
china_admin_boundaries.qgz
query.sql
chn_admbnda_adm2_ocha
._*.py
modules/
